/* CSS Document */

body
{
margin:0px 0px 0px 0px;
}	

#plan
{
width:100%;
margin:0px auto;
height:750px;
margin: 0px auto;
background-color: #FAFAFA;
}

#head
{
width:1020px;
height:50px;
background-color: #006699;
border:1px solid #000;
}
#bottom
{
width:1020px;
height:50px;
background-color:#33CCFF;
border:1px solid #000;
}

#obiecte
{
width:100%;
height:750px;
border:1px solid;
position: absolute;
z-index:2;
top: 0px;
left: 0px; 
}

#windows
{
width:100%;
margin:0px auto;
}

.masa
{
width:97px;
height:100px;
position: absolute;
border: 1px solid #000;
background-color:#999999;
}

.masa-nume
{
font-weight:bold;
background-color:#0099FF;
color:#333333;
text-align:center;
}

.masa-ospatar
{
font-weight:bold;
background-color:#00FF66;
color:#333333;
text-align:center;
}

.masa-poza
{
width:97px;
height:62px;
margin:0px auto;
background-image:url(../files/mese/masa.jpg);
background-repeat:no-repeat;
background-position:center;
}

#txtsearch
	{
	margin-top:2px;	
	background-image:url(../files/img/edit-find-replace.png);
	background-position:left center;
	background-repeat:no-repeat;
	width:90%; height:16px; border:1px solid #000000; text-align:center; font-weight:bold; font-size:14px; line-height: 16px;
	}

#plus
	{
	width:70px;height:70px;background-image:url(../files/img/gtk-add.png); background-position:center; background-repeat:no-repeat;
	}
#minus
	{
	width:70px;height:70px;background-image: url(../files/img/gtk-remove.png); background-position:center; background-repeat:no-repeat;
	}
#btnInfo
	{
	width:70px;height:70px;background-image: url(../files/img/help-browser.png); background-position:center; background-repeat:no-repeat;
	}

.btnCategorie
	{
	width:165px;
	height:50px;
	}	
#btnProdus
	{
	width:220px;
	height:50px;
	}

/*#btnProdus div
	{
	background-image:url(../i/accordion-middle-act.png);
	background-repeat:repeat-x;
	width:214px;
	line-height:28px;
	height:28px;
	float:left;
	}	*/
#btnProdus .btnLeft
	{
	width:3px;
	line-height:28px;
	height:28px;
	background-image:url(../i/accordion-left-act.png);
	background-repeat:no-repeat;
	background-position:left;
	float:left;
	}	
	
#btnProdus .btnRight
	{
	width:3px;
	line-height:28px;
	height:28px;
	background-image:url(../i/accordion-right-act.png);
	background-repeat:no-repeat;
	background-position:left;
	float:left;
	}		

.rowcomanda
	{
	border-bottom:1px solid #000000;
	height: 40px;
	}		
	
a.button {
    background: transparent url('../files/img/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('../files/img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
} 	

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 